#familytree {
/*
	margin: 	0 auto;
*/
	text-align: left;
	z-index: 10;
/*
	width:630px;
	overflow:auto;
*/
	border:0px solid blue;
}
#borderBox {
	position:relative;
	border:1px solid grey;
	width:630px;
	height:630px;
	overflow:hidden;
}
#dragableElement {
	width:10240px;height:10240px;
	top:0px;
	left:0px;
	position:absolute;
	cursor:move;
}
#focusperson {
	height: 2em;
	padding: 0;
	width: 40%;
}
#hoverimage {
	position : absolute;
	border : 1px solid gray;
	background-color : #efefef;
	z-index: 100;
	/* set this to create word wrap */
	/* max-width: 200px;*/
}

#tree-container {
	border:0px solid green;
/*
	width:630px;
	overflow:auto;
*/
	text-align:left;
}
#toolbar-container {
	position: relative;
/*
	overflow:auto;
	width:630px;
	background-color:#666;
*/
}

.toolbar {
	border:0px solid blue;
	z-index:20;
	position:absolute;
	top:0;
	left:0;
	width:70px;
	height:20px;
}
.toolbar a {
	padding:0;
	margin:0;
}
.toolbar a img {
	padding:0;
	margin:0;
}
img.toolbar-treenav {
	
}
img.toolbar-blogpage {
}

/* @todo the CSS for the image on the left column */

#thumbnail-container {
	position: relative;
}

/* @todo need: */

.wpft_thumbnail {
	border:0px solid blue;
	z-index:20;
	position:absolute;
	top:0;
	left:0;
	width:70px;
	height:20px;

	/* @test make shown */
	/*visibility:hidden;*/
}


.dynamicDiv {
    border:solid 1px #c0c0c0;
    background-color:#e1e1e1;
    font-size:8px;
    font-family:verdana;
    color:#000;
    padding:0px;
}


/* Print Styles */
@media print {

body { width:auto; background:white; color:black; margin:0 }

#wrapper { width:auto; margin:0;padding:0;}

#borderBox {
	overflow:visible; border:1px solid black;
}

}
